.custom-select {
    position: relative;
    width: 200px; /* ajusta según sea necesario */
}

.selected-option {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.selected-option img {
    width: 20px; /* ajusta el tamaño de las imágenes según sea necesario */
    margin-right: 5px; /* ajusta el espacio entre la imagen y el texto */
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

.option {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.option img {
    width: 20px; /* ajusta el tamaño de las imágenes según sea necesario */
    margin-right: 5px; /* ajusta el espacio entre la imagen y el texto */
}

.option:hover {
    background-color: #f0f0f0;
}

